/*=======PUBLIC==========*/
:root {
  --pr-color: #ff5454;
  --kp-color: #ff9f0f;
  --sp-color: #ffe776;
  --mp-color: #fff7d1;
  --tp-color: #404040;
  --ts-color: #787878;
  --button-font-size: 1px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* =========NAVBAR===========*/
.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.nav-color {
  background-color: var(--mp-color);
  transition: all ease-in-out 0.3s;
}

.bg-transparent {
  transition: all ease-in-out 0.3s;
}

.navbar .navbar-brand {
  font-family: "blac", "Helvetica";
  font-weight: 700;
  font-size: 22px;
  color: var(--pr-color);
}

.navbar .navbar-brand img {
  width: 22px;
  height: 22px;
}
.nav-link {
  font-size: 15px;
  color: var(--ts-color);
  position: relative;
  font-weight: 500;
}

.nav-item .nav-link.active {
  color: var(--pr-color);
}

.nav-link:hover,
.nav-link.active {
  color: var(--pr-color);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--pr-color);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.nav-link.active::before {
  width: 50%;
  visibility: visible;
}

.button-primary {
  width: 125x;
  height: 30px;
  font-size: 10px;
  background-color: var(--pr-color);
  border: none;
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

/* =========HERO===========*/
.hero {
  background: linear-gradient(180deg, #fff7d1 0%, #ffe776 37.36%, #ffa751 110.36%), linear-gradient(180deg, #79d1e5 -2.84%, #8dd7e2 3.88%, #afe3dc 17.79%, #cbecd8 32.62%, #e1f3d4 48.44%, #f1f8d2 65.74%, #fafbd0 95.51%, #fdfcd0 113.72%);
  height: 100vh;
  width: 100%;
}

.hero-beranda {
  height: 50%;
  position: relative;
  z-index: 1;
}

.hero-beranda2 {
  width: 100%;
  position: relative;
  z-index: 0;
}

.hero-tentangkami {
  position: absolute;
  top: 441px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}

.hero-tentangkami .hero-tentang1 {
  position: absolute;
  top: -50px;
  bottom: 50px;
  left: 50%;
  z-index: 2;
}
.hero-tentangkami .hero-tentang2 {
  position: absolute;
  height: auto;
  top: 100px;
  z-index: 1;
  width: 100%;
}
.hero-tentangkami .hero-tentang3 {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.hero-tentangkami .hero-tentang4 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 272px;
  left: 0;
  z-index: 1;
}

.hero-majalah {
  position: absolute;
  width: 652px;
  height: 473px;
  top: 300px;
  left: 385px;
  z-index: 0;
}

.hero-galeri {
  position: absolute;
  width: 520px;
  height: 350px;
  top: 300px;
  left: 385px;
}

.hero-kontak {
  position: absolute;
  width: 529px;
  height: 214px;
  top: 350px;
  left: 385px;
}

.hero-tagline {
  text-align: center;
  margin-top: 5%;
}

.hero-tagline h2 {
  font-weight: 700;
  font-size: 50px;
  color: var(--tp-color);
  text-align: center;
  margin-top: 5%;
}
.hero-tagline p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--ts-color);
}
.button-lg-primary {
  width: 186px;
  height: 48px;
  background-color: var(--kp-color);
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

/* ==========ISI==========*/
.tentangkami {
  padding: 200px 0px;
  margin-bottom: -80px;
}
.tentangkami .tentang-img {
  height: 400px;
  width: 400px;
}
/* .tentangkami .tentang-text {
  margin-left: 20px;
} */

.tentangkami span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}

.tentangkami h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--tp-color);
}
.tentangkami p {
  color: var(--ts-color);
  font-size: 20px;
  font-weight: 400;
  /* text-align: justify; */
}

/* Keunggulan */
.keunggulan {
  padding: 100px 0px;
}

.keunggulan span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}

.keunggulan h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tp-color);
  margin-bottom: 3%;
}

.card-keunggulan {
  width: 100%;
  height: 312px;
}
.card-keunggulan h3 {
  color: var(--tp-color);
  font-size: 24px;
  font-weight: 500;
  margin-top: 7%;
}
.card-keunggulan img {
  width: 80px;
  height: 80px;
}

.card-keunggulan p {
  font-size: 20px;
  color: var(--ts-color);
}

/* galery */
.galeri {
  background-color: #fffaf2;
  height: 801px;
  padding: 100px 0px;
}

.galeri span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}

.galeri h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tp-color);
  margin-bottom: 2%;
}
.card-galery h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--tp-color);
  margin-top: 6%;
}

.card-galery p {
  font-size: 15px;
  color: var(--ts-color);
  font-weight: 400;
}
.card-galery img {
  width: 320px;
  height: 320px;
}

.fullgaleri {
  font-size: 20px;
  color: var(--kp-color);
  font-weight: 500;
  text-decoration: none;
}

/* mitra */
.mitra {
  padding: 160px 160px;
}

.mitra span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}
.mitra h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tp-color);
  margin-bottom: 2%;
}
.mitra p {
  font-size: 24px;
  color: #787878;
  font-weight: 400;
}
.card {
  border: none;
  height: 96px;
  margin-top: 20%;
}

.card img {
  max-height: 100%;
}

/* informasi */
#lihat-semua {
  margin-left: auto;
}
#lihat-semua .nav-link {
  font-size: 17px;
  font-weight: 500;
  color: var(--kp-color);
}

.informasi {
  padding: 100px 0;
}

.informasi h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tp-color);
  margin-bottom: 2%;
}
.informasi h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--tp-color);
  margin-top: 2%;
}

.informasi p {
  font-size: 20px;
  font-weight: 400;
  color: var(--ts-color);
  margin-top: 1%;
}

.informasi .nav-item {
  margin-bottom: 3%;
}
.card-informasi p {
  font-size: 20px;
  color: #787878;
}
.card-informasi h3 {
  font-size: 20px;
  color: #404040;
}
.card-informasi img {
  border-radius: 8px;
  height: 320px;
  width: 378px;
}

/* mari gabung */
.gabung {
  background: linear-gradient(180deg, #79d1e5 -2.84%, #8dd7e2 3.88%, #afe3dc 17.79%, #cbecd8 32.62%, #e1f3d4 48.44%, #f1f8d2 65.74%, #fafbd0 95.51%, #fdfcd0 113.72%);
  height: 797px;
  width: 100%;
  padding: 160px 160px;
  position: relative;
}

.gabung h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--tp-color);
}
.gabung p {
  font-size: 20px;
  color: #787878;
  margin-bottom: 1%;
}
.gabung span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}

.img-gabung {
  position: absolute;
  top: 441px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}

.img-gabung .gabung-img2 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 272px;
  left: 0;
}

.img-gabung .gabung-img1 {
  position: absolute;
  width: 530px;
  height: 279px;
  top: 0;
  left: 455px;
}

hr {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3%;
}
.copyright {
  position: absolute;
  font-size: 16px;
  background-color: #333333;
  color: #fff;
}

hr {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3%;
}
.copyright {
  color: #fff;
  position: absolute;
  font-size: 16px;
}

/* Video Profil */
.video-profil {
  padding: 90px 0;
}
.video-profil span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}
.video-profil h2 {
  color: var(--tp-color);
  font-size: 40px;
  font-weight: 700;
}
.video-profil p {
  font-size: 24px;
  color: #3a3b41;
  font-weight: 400;
}
.video-profil img {
  height: 618px;
  width: 1200px;
}

.staf-guru {
  padding: 160px 160px;
  background-color: #fffaf2;
}

.staf-guru span {
  color: var(--pr-color);
  font-size: 24px;
  font-weight: 500;
}
.staf-guru h2 {
  color: var(--tp-color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3%;
}
.staf-guru .card-informasi img {
  height: 320px;
  width: 276px;
}
.staf-guru .card-informasi h3 {
  color: var(--tp-color);
  font-size: 24px;
  font-weight: 500;
  margin-top: 8%;
}

.staf-guru .card-informasi p {
  font-size: 18px;
  font-weight: 400;
  color: var(--ts-color);
}

/* Berita */
.full-berita .nav-item {
  margin-bottom: 3%;
}

.full-berita p {
  color: var(--ts-color);
  font-size: 20px;
  font-weight: 400;
  margin-top: 4%;
}

.full-berita .card-informasi h3 {
  color: var(--tp-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6%;
}

.pagination-container {
  padding: 80px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ts-color);
}
.pagination li a {
  text-decoration: none;
  padding: 8px 12px;
  border: transparent;
  border-radius: none;
  color: var(--ts-color);
}
.pagination .page-link {
  font-size: 15px;
}

.pagination .page-link.active {
  color: var(--kp-color);
  background-color: transparent;
}
.pagination .page-link:hover {
  background-color: #ffc107;
  color: #fff;
}

/* Galeri */
.kegiatan h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--tp-color);
  margin-top: 10%;
}

.kegiatan p {
  font-size: 20px;
  font-weight: 400;
  color: var(--ts-color);
  margin-bottom: 30px;
}

.card-galeri h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--tp-color);
  margin-top: 5%;
}

.card-galeri p {
  font-size: 16px;
  font-weight: 400;
  color: var(--ts-color);
}
.card-galeri img {
  height: 300px;
  width: 350px;
}

/* Kontak */
.kontak {
  margin-top: 10%;
  margin-bottom: 15%;
}

.kontak h2 {
  font: size 64px;
  font-weight: 600;
  color: #0f0f0f;
}
.kontak p {
  font: size 24px;
  font-weight: 400;
  color: #949494;
}
.kontak span {
  font: size 24px;
  font-weight: 500;
  color: #0f0f0f;
}
.konten-kontak {
  margin-left: 150px;
}

.kontak .kontak-img {
  height: 500px;
  width: 560px;
}

/* Isi Berita */
.konten {
  padding: 150px 50px;
}

.konten h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--tp-color);
  padding: 5px 5px;
}
.konten p {
  font-size: 24px;
  font-weight: 400;
  color: var(--ts-color);
  padding: 5px 5px;
}

.konten img {
  height: 512px;
}
.berita-utama p {
  font-size: 17px;
  color: 3A3B41;
  margin-top: 2%;
}
.share h4 {
  font-size: 17px;
  font-weight: 400;
  color: #8b8b8b;
  margin-top: 1%;
}

.share a {
  text-decoration: none;
}

.share a svg {
  fill: #fff;
  cursor: pointer;
  background: #c2c2c2;
  border-radius: 30px;
  width: 48px;
  height: 48px;
}

.share a svg:hover {
  fill: var(--mp-color);
  background: var(--kp-color);
  border-radius: 100%;
}

.artikel h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--tp-color);
  margin-bottom: 2%;
  margin-top: 5%;
}
.card-berita img {
  height: 320px;
  width: 378px;
}
.card-berita p {
  font-size: 20px;
  font-weight: 400;
  color: var(--ts-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
.card-berita h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--tp-color);
}
.konten p {
  text-align: justify;
  padding-right: 15px;
}

.konten p br {
  line-height: 1.5;
  margin-bottom: 10px;
}

/* ===============FOOTER================== */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #333333;
  color: #fff;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

footer .container .sec h5 {
  position: relative;
  font-weight: 600;
}

footer .container .sec p {
  margin-top: 30px;
  font-size: 15px;
}

footer .container .sec li {
  list-style: none;
}

footer .container .icon a {
  text-decoration: none;
}

footer .container .icon a svg {
  fill: #fff;
  cursor: pointer;
  background: #c2c2c2;
  border-radius: 10px;
}

footer .container .icon a svg:hover {
  fill: var(--mp-color);
  background: var(--kp-color);
  border-radius: 100%;
}

.copyright {
  width: 100%;
  padding: 20px 100px;
  text-align: center;
  color: #fff;
  border-top: 1px solid #aaaaaa;
}
